* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Newsreader", serif;
    color: #413623;
}

/* Header and nav bar */

header {
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8e9cd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-bottom: solid 1px #413623;
}

#logo {
    margin-right: 10px;
    text-decoration: none;
    font-family: "Ribeye", serif;
    font-size: 50px;
}

#nav-bar {
    width: 100%;
}

#nav-bar ul {
    list-style-type: none;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

#nav-bar a {
    text-decoration: none;
    font-weight: bold;
}

/* Hero */

#hero {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    overflow: visible;
    background-image: url("./assets/heroPaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.15));
}

#left {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#intro {
    color: #413623;
}

#intro, #name {
    font-size: 10rem;
    font-family: "Ribeye", serif;
}

#name {
    color: #c25c2c;
}

#subtitle {
    font-size: 3rem;
}

#hero-btn {
    text-decoration: none;
    background-color: #658174;
    color: #f8e9cd;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 25px;
    font-size: 2rem;
}

#right {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#right img {
    display: block;
    width: 90%;
    max-width: 750px;
    height: auto;
    margin-right: 0;
    margin-bottom: 80px;
}

/* About me section */

#about-me {
    min-height: 100vh;
    background-image: url("./assets/aboutMePaper.png");
    margin-top: -120px;
    padding-top: 160px; 
    position: relative;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: visible;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.15));
}

/* Projects section */

#projects {
    min-height: 100vh;
    background-image: url("./assets/projectsPaper.png");
    margin-top: -120px;
    padding-top: 160px;
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: visible;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.15));
}

/* Skills section */

#skills {
    min-height: 100vh;
    background-image: url("./assets/aboutMePaper.png");
    margin-top: -120px;
    padding-top: 160px; 
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: visible;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.15));
}

/* Contact section */

#contact {
    min-height: 100vh;
    background-image: url("./assets/contactPaper.png");
    margin-top: -120px;
    padding-top: 160px; 
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: visible;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.15));
}

/* Footer */

footer {
    background-color: #f8e9cd;
    padding: 30px;
    margin-top: -120px;
    padding-top: 160px; 
}

/* Medium Screens */
@media (min-width: 1201px) and (max-width: 1530px) {
    #left {
        width: 42%;
    }

    #right {
        width: 58%;
        justify-content: flex-end;
        align-items: center;
    }

    #right img {
        width: 95%;
        max-width: none;
        margin-right: 0px;
        margin-bottom: 80px;
    }

    #intro, #name {
        font-size: 6rem;
    }

    #subtitle {
        font-size: 2rem;
    }

    #hero-btn {
        font-size: 1rem;
    }

}

@media (max-width: 1200px) and (min-width: 901px) {
    #right img {
        width: 105%;
        margin-right: -90px;
        margin-bottom: -10px;
    }

    #left {
        width: 40%;
    }

    #right {
        width: 60%;
        justify-content: center;
        margin-bottom: 80px;
    }

    #right img {
        margin-right: 0;
    }

    #intro, #name {
        font-size: 6rem;
    }

    #subtitle {
        font-size: 2rem;
    }

    #hero-btn {
        font-size: 1rem;
    }
}

/* Small Screen */
@media (max-width: 900px) {
    #hero {
        min-height: auto;
        flex-direction: column;
        padding: 80px 20px 0;
        gap: 2rem;
    }

    #left,
    #right {
        width: 100%;
    }

    #left {
        min-height: auto;
        padding-bottom: 0;
        position: relative;
        z-index: 2;
    }

    #right {
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    #right img {
        width: 95%;
        max-width: 520px;
        margin-right: 0;
        margin-bottom: 0;
    }

    #intro, #name {
        font-size: 6rem;
    }

    #subtitle {
        font-size: 2rem;
    }

    #hero-btn {
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 0;
    }
}